name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "27.2"
          elixir-version: "1.18.4"

      - name: Install dependencies
        run: mix deps.get

      - name: Run tests
        run: mix test

      - name: Publish to Hex
        if: startsWith(github.ref, 'refs/tags/v')
        run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
